<% include ../partials/header %>


   <div class="row">
      <div class="col-md-9 col-xs-9">
         <div class="thumbnail userpic">
            <img class="image-responsive" src="<%= userpage.image%>">
            <div class="caption-full">
              
               <h4 id="captionName"><%=userpage.name%></h4>
               <hr>
               <p><%= userpage.description%></p>
              
               
            </div>
         </div>
         <div id="commentContainer" class="well">
            <form id="commentForm" action="/userpages/<%= userpage._id %>/comments" method="POST">
               <textarea name="comment[text]" id="userComment" placeholder="Add a comment to <%= userpage.name.endsWith("s") ? userpage.name + "'" : userpage.name + "'s"%> page..."></textarea>
                  <div class="text-right">
                     <button id="Button" class="btn btn-success" disabled>Add Comment</button>
                  </div>
            </form>
            
            
         </div>
      </div>
      <div class="col-md-3">
         <div class="list-group">
            <li class="list-group-item disabled">My Photo-Blog: <em>Coming Soon</em></li>
         </div>
         <div id="map"></div>
      </div>
   </div>
   <ul id="commentList" class="well col-md-9">
      <div class="row">
      <% userpage.comments.forEach(function(comment){ %> 
         <li>
            
                  <strong><%= comment.owner.username %></strong>
                     <p class="comments">
                        <%= comment.text %> 
                     </p> 

         </li>
      <% }); %> 
         
      </div>
               
   </ul>
   
</div><!-- /.container -->
<!-- jquery cdn-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
crossorigin="anonymous"></script>
  <!-- ajax.js -->
  <script src="../javascript/ajax.js"></script>
  <script src="../javascript/userComment.js"></script>
    </body>
</html>